body {
    font-family: "Gochi Hand", cursive;
    background-color: #fdf3eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Added */
    margin: auto; /* Added */
    padding: 30px;

}

h2 {
    font-size: 50px;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#username {
    width: 400px;
    height: 40px;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
}

#password {
    width: 400px;
    height: 40px;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
}

#submit {
    background-color: white;
    border-radius: 40px;
    padding: 10px 40px;
    border-color: lightgray;
}

#submit:hover {
    background-color: lightgray;
    cursor: pointer;
}