/* FILEPATH: style.css */

/* Reset default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0;
}
/* Add your custom styles here */
body {
    font-family: Georgia, serif;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.menu-container {
    position: relative;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

.menu-sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar initially hidden */
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 999;
}

.menu-sidebar.show {
    left: 0;
}

.menu-sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.menu-sidebar ul li {
    margin-bottom: 10px;
}

.menu-sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-sidebar ul li:hover {
    background-color: #66666651;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex; /* Change 'float' to 'flex' */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section .loader {
    position: relative;
    width: 43%;
    height: 43%;
    animation: animateBg 10s linear infinite
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(3600deg);
    }
}

section .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    border: 20px solid transparent;
    /* border-top-color: #fff; */
    animation: spin 6s linear infinite;
}

section .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #7BB7E0;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%, 100% {
        transform: scale(0);
    }
}

.back-button {
    margin: 20px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 36px;
}

.back-button:hover {
    background-color: lightgray;
}

.checkin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 9999; /* Make sure this is on top of everything */
}

.checkin-button {
    background-color: #424746; /* Blue color */
    color: #fff; /* Text color */
    font-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Round background */
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.checkin-button:hover {
    background-color: #D9D9D9; /* Lighter blue color */
}

.checkin-text {
    font-size: 15px;
    font-weight: bold;
    color: #1C2120; /* Text color */
    /* margin: 0; */
    font-family: sans-serif;
}

.prompt-text {
    font-size: 26px;
    color: #1C2120; /* Text color */
    padding: 20;
    margin-top: 10%;
    margin-bottom: 30%;
}