body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-button {
    width: 250px;
    height: 180px;
    margin: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-family: 'Georgia', serif;
}

#button1 {
    background-image: url('images/activities.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#button2 {
    background-image: url('images/breathe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#button3 {
    background-image: url('images/emotion101.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#button4 {
    background-image: url('images/affirmation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#button1:hover, #button2:hover,
#button3:hover, #button4:hover {
    background-color: #A359A0; 
}

#sentence {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Georgia, serif;
}

.color-button:hover {
    text-decoration: underline;
    color: white;
}