body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.back-button {
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    font-size: 36px;
    text-decoration: none;
    color: black
}
.back-button:hover {
    background-color: lightgray;
}
.cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.cancel-button:hover {
    /* background-color: lightgray;
    border-radius: 5px; */
    text-decoration: underline;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-button {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: Georgia, serif;
    text-align: center;
}

#button1 {
    background-color: #DE0F3F;
}

#button1:hover {
    background-color: #b41339;
}

#button2 {
    background-color: #7BB7E0;
}
#button2:hover {
    background-color: #6a9bbc;
}

#button3 {
    background-color: #6AC66B;
}
#button3:hover {
    background-color: #5bab5d;
}

#button4 {
    background-color: #FFCF60;
}
#button4:hover {
    background-color: #ecc058;
}

#sentence {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: serif;
}