body {
    font-family: "Gochi Hand", cursive;
    text-align: center;
    margin: 20px;
}

.title-container {
    font-family: "Gochi Hand", cursive;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    font-family: "Gochi Hand", cursive;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
p {
    font-family: "Gochi Hand", cursive;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-style: italic;
}

.button-container {
    font-family: "Gochi Hand", cursive;
    margin-left: 19%;
    padding: 20px;
    justify-content: center;
    text-align: left; /* Add this line */
}

#activityInput {
    width: 800px;
    height: 40px;
    padding: 8px;
    margin: 10px;
    font-family: "Gochi Hand", cursive;
}

#recordButton {
    background-color: #6acd90; /* Green color */
    width: 100px;
    border: none;
    color: #fff; /* Text color */
    padding: 10px;
    cursor: pointer;
    font-family: "Gochi Hand", cursive;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 27px;
}

#recordButton:hover {
    background-color: #4e966a !important; /* Darker green color */
}

#showActivitiesButton {
    font-family: "Gochi Hand", cursive;
    background-color: #7cacdc; /* Blue color */
    border: none;
    color: #fff; /* Text color */
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

#showActivitiesButton:hover {
    background-color: #6186aa !important; /* Darker green color */
}

/*#activityList {*/
/*    margin-top: 20px;*/
/*    text-align: left;*/
/*    font-family: Georgia, serif;*/
/*}*/

.videotext-container {
    font-family: "Gochi Hand", cursive;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    margin-left: 360px;
}

.video-container {
    font-family: "Gochi Hand", cursive;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}
.video {
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Gochi Hand", cursive;
    color: #A359A0;
    background-color: transparent;
    border: 2px solid #A359A0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A359A0;
    color: #fff;
}

img {
    width: 320px;
    height: 180px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    font-size: 36px;
    text-decoration: none;
    color: black
}
.back-button:hover {
    background-color: lightgray;
}
#activityList {
    margin-top: 20px;
    font-family: Georgia, serif;
}

#activityList table {
    font-family: "Gochi Hand", cursive;
    margin-left: 200px;
    border-collapse: collapse; /* Collapse border spacing */
    width: 400px; /* Auto width */
    text-align: left;
}


button.delete-button {
    margin: auto;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.delete-button img {
    width: 35%; /* Make the image fill the button */
    height: auto; /* Maintain aspect ratio */
}
/*button.delete-button:hover {*/
/*    !*background-color: #cc0000; !* Darker red color on hover *!*!*/
/*    background-image: url("../images/icons8-bin-100 (1).png");*/
/*    background-repeat: no-repeat;*/
/*}*/
