body {
    font-family: "Gochi Hand", cursive;
    display: grid;
    height: 100vh;
    place-items: center;
}
h1{
    font-weight: bold;
}
.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.base-timer:hover{
    background-color: lightgray;
    border-radius: 5px;
}

.base-timer:hover::after{
    content: "Breathe according to this timer";
    text-align: center;
    color: black;
    font-style: oblique;
    opacity: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    font-size: 36px;
    text-decoration: none;
    color: black
}
.back-button:hover {
    background-color: lightgray;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%; /* Adjust width as needed */
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.base-timer__pointer {
    transition: transform 1s linear; /* Smooth transition for pointer movement */
    transform-origin: center;
}

