body {
    font-family: "Gochi Hand", cursive;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.text-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-style: italic;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}

.video {
    margin: 10px;
}

img {
    width: 320px;
    height: 180px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Gochi Hand", cursive;
    color: #A359A0;
    background-color: transparent;
    border: 2px solid #A359A0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #A359A0;
    color: white;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
    font-size: 36px;
    text-decoration: none;
    color: black
}
.back-button:hover {
    background-color: lightgray;
}